:root {
    --colour1: hsla(204, 56%, 31%, 1);
    --colour2: hsla(181, 49%, 43%, 1);
    --colour3: hsla(154, 53%, 57%, 1);
    --colour4: hsla(134, 75%, 72%, 1);
    --colour5: hsla(126, 81%, 88%, 1);
}

@font-face {
    font-family: 'Beue';
    src: url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff2') format('woff2'),
         url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

main {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns:  minmax(200px,1fr) 4fr;
  grid-template-rows: 200px 4fr;
  grid-template-areas:
    "header header"
    "nav content";
    font-family: 'Beue', Arial, Helvetica, sans-serif;
    color: var(--colour5);
}

header {
  grid-area: header;
  background-color: var(--colour1);
  display: grid;
  grid-template-columns:  minmax(200px,1fr) 4fr;
  justify-items: start;
  align-content: center;
}

#name {
    font-size: 5rem;
    padding-left: 25px;
}

#logo {
    width: 50%;
    height: 50%;
    background-image: url('../assets/svg/coffeebean.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    margin: 25%;
  }



nav {
    grid-area: nav;
    height: 100%;
    width: 100%;
    display: flex;
}

ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-end;
  background-color: var(--colour1);

  margin: 0;
  list-style-type: none;
}

.link {
    display: flex;
    align-items: center; 
    justify-content: end; 
    padding-right: 5%;
    height: 20%;
    width: 100%;
    background-color: var(--colour1);
    font-size: 3rem;
  }

.active {
    background-image: linear-gradient(90deg,var(--colour1)10%, var(--colour2));
}

li {
    text-decoration: none;
}


#content {
  grid-area: content;

}

#main1 {
    display: block;
    background-color: var(--colour2);
    height: 100%;
    width: 100%;
}

#menu1 {
    display: grid;
    background-color: var(--colour2);
    height: 100%;
    width: 100%;
}

#about1 {
    display: grid;
    background-color: var(--colour2);
    height: 100%;
    width: 100%;
}
